<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <br>
      <img src="/assets/BigImage.jpg" alt="Nutrients Big Image">
    </div>
    <div class="col-xl-6">
      <br>
      <img src="/assets/SmallImage1.jpg" alt="Nutrients Big Image" style="width:500px;height:210px;">
      <img src="/assets/SmallImage2.jpg" alt="Nutrients Big Image" style="width:500px;height:213px;">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <br>
      <img src="/assets/SecondImage.jpg" alt="Nutrients Big Image">
    </div>
    <div class="col-xl-6">
      <br>
      <img src="/assets/ThirdImage.jpg" alt="Nutrients Big Image">
    </div>
  </div>
</div>

<div class="container">
  <br>
     <h1>My First Bootstrap Page</h1>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <br>
      <img src="/assets/Icon1.jpg" alt="Nutrients Big Image">
    </div>
    <div class="col-xl-6">
      <br>
      <img src="/assets/Icon2.jpg" alt="Nutrients Big Image">
    </div>
  </div>
</div>
