<div class="alert alert-secondary alert-dismissible">
  <div class="container">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Deals Alert!</strong> Get all deals by 5 PM EST.
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="./assets/logo.png" style="width:25px;height:25px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li role="presentation"
         class="nav-item"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         >
          <a class="nav-link"
           routerLink="/"
           >Home</a>
        </li>
        <li role="presentation"
        class="nav-item"
        routerLinkActive="active"
        >
          <a *ngIf="isAuthenticated"
            class="nav-link"
            routerLink="/"
            >Search</a>
        </li>
        <li role="presentation"
        class="nav-item"
        routerLinkActive="active"
        >
          <a class="nav-link"
          routerLink="/"
          >About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a *ngIf="!isAuthenticated" routerLink="/login">
          <button class="btn" type="button">Login</button>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isAuthenticated" routerLink="/login">
            <button class="btn" type="button">Register</button>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="isAuthenticated" (click)="logout()">
            <button class="btn" type="button">Logout</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
