.alert {
  color: #012169;
  margin-bottom: 0px;
}

.btn {
  background-color: #012169;
  color: #ffffff;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-right: 5px;
  margin-top: 5px;
  width: 100px;
}

.btn:hover {
  color: #012169;
  background-color: #ffffff;
  border-style: solid;
  border-color: #012169;
}

nav {
  border-bottom: solid 1px #012169;
  border-top: solid 1px #012169;
}

