.footcolor {
  color: #ffffff;
}

.footer {
  background-color: #333333;
}

a {
  color: #ffffff;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

.col-xl-3 {
  margin-top: 20px;
}
