<br>
<div class="footer">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <h6 class="footcolor">MY ACCOUNT</h6>
        <a href="#">My Account</a><br>
        <a href="#">My Auto Delivery</a><br>
        <a href="#">Gift Cards</a><br>
        <a href="#">Order Tracking & History</a><br>
        <a href="#">Quick Reorder</a><br>
      </div>
      <div class="col-xl-3">
        <h6 class="footcolor">SHOP WITH US</h6>
        <a href="#">Store Locator</a><br>
        <a href="#">Vitamin Shoppe Brand</a><br>
        <a href="#">Quality Promise</a><br>
        <a href="#">VShoppe Mobile App</a><br>
        <a href="#">Certificate of Analysis</a><br>
      </div>
      <div class="col-xl-3">
        <h6 class="footcolor">CORPORATE INFORMATION</h6>
        <a href="#">About The Vitamin Shoppe</a><br>
        <a href="#">Careers</a><br>
        <a href="#">Press Room</a><br>
        <a href="#">Product Recalls</a><br>
        <a href="#">New Suppliers</a><br>
      </div>
      <div class="col-xl-3">
        <h6 class="footcolor">POLICIES</h6>
        <a href="#">Affiliate Program</a><br>
        <a href="#">International Licensing</a><br>
        <a href="#">Accessibility Notice</a><br>
        <a href="#">Shipping Rates</a><br>
        <a href="#">Contact Us</a><br>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h6>©2022 The Vitamin Shoppe®</h6>
      <p>Statements made on this website have not been evaluated by the U.S. Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease. Information provided by this website or this company is not a substitute for individual medical advice.</p>
    </div>
    <div class="col-lg-4">
      <br>
      <img src="/assets/footerImage.jpg" alt="Nutrients Big Image">
    </div>
  </div>
</div>
